<!DOCTYPE html>
<html>
<head>
      {% load static %}

    <title></title>
    <link rel="stylesheet" type="text/css" href="{%static 'css/s3.css'%}">
</head>
<body>
<nav>
    <ul>
        <li>
            <a href="/home/">Home</a>
        </li>
                <li>
            <a class="active" href="/login/">Lagin</a>
        </li >
                        <li>
            <a href="/contus/">CountUs</a>
        </li>


    </ul>

</nav>
            {% block content %}
    <header>
        <div>
        <center>
                    <h2>CHOSE THE PERFECT GIFT  FOR YOUR LOVEING PERSON</h2>

        </center>
        </div>
    </header>


    <div class="continer">
<!--         <img class="slider" src="{%static 'img/family.jpg'%}" >

 -->        

    <img  class="slider" src="{%static 'img/parents.jpg'%}" >


            <img class="slider" src="{%static 'img/girl.jpg'%}">


                   <img class="slider" src="{%static 'img/boy.jpg'%}">

<!--                 <img class="slider" src="{%static 'img/d2.jpg'%}">
 -->

        <button class="btn" id="btn1" onclick="pluseindex(-1)">&#10094;</button>
        <button class="btn" id="btn2" onclick="pluseindex(1)">&#10095;</button>

    </div>
    
            {% endblock %}
    <section>
        <footer class="main-footer" ">
        <h2><b>All Rights Reserved :  PavanKalevaru</b></h2>
    </footer>
</section>
</div>
<script>
    
    var index=1;
        showimage(1);
        function pluseindex(n){
            index=index+1;

showimage(index);
        }

    function  showimage(n){
        var i;

        var x=document.getElementsByClassName("slider");
        if(n>x.length){
            index=1};
        if (n<1){index=x.length};
            for(i=0;i<x.length;i++){
                x[i].style.display="none";
            }
        x[index-1].style.display="block";
    }
</script>

</body>
</html>