            
{% extends 'product/base.html' %}

            {% block content %}
	{{msg}}
	<center>

<form method="post" name="myform" onsubmit="return validateForm()">
	{%csrf_token%}
		<table>
			<tr>
				<td>Username</td>
				<td>
					<input type="text" name="username" placeholder="Enter User Name ">
				</td>
			</tr>
		<tr>
				<td>Password</td>
				<td>
					<input type="password" name="password" placeholder="Enter User password ">
				</td>
			</tr>
		</tr>
				<tr>
					<td>Number</td>
					<td>
						<input type="text" name="phone" placeholder="Enter User number " ></td>
					</tr>
<tr>
			</tr>
				<tr>
					<td>email</td>
					<td>
						<input type="text" name="email" placeholder="Enter User email " ></td>
					</tr>
<tr>

	<td></td><td><input type="submit" name="" value="SignUP"></td>
<td>
	<a href="/login/">Login</a>
</td>

</tr>

		</table>



</form>
</center>
<script>
	function validateForm() {
var x=document.myform.username.value;
var y=document.myform.password.value;
	
	if(x=="null"||x==""){
		alert("please provide correct name")
		return false;
	}
	if(y.length<6){
				alert("password must contained greter then 6 characters")

	}
}
</script>
            {%endblock  %}
