
<!DOCTYPE html>
<html>
<head>
	  {% load static %}

	<title></title>
		<link rel="stylesheet" type="text/css" href="{%static 'css/s2.css'%}">

</head>
<body>

<nav>
	<ul>
		  <li class="dropdown">
						<a href="//">Shop By  Category</a>

                <div class="dropdown_list">
                    <a href="/cake/">Cake</a>
                    <a href="//">Chocolate</a>
                    <a href="/Gift/">Gift</a>
                </div>
            </li>



 				  <li class="dropdown">
						<a href="//">Shop By  Relation</a>

                <div class="dropdown_list">
                    <a href="#">Parents</a>
                    <a href="#">GirlFriend</a>
                    <a href="#">BoyFriend</a>
                </div>
            </li>

		  <li class="dropdown">
						<a href="//">Shop By  Occation</a>

                <div class="dropdown_list">
                    <a href="#">Sports</a>
                    <a href="#">Technology</a>
                    <a href="#">Arts</a>
                    <a href="#">Others</a>
                </div>
            </li>

				<li>
					<a class="active" href="/show/{{request.session.user.id}}">Profile</a>

		</li >
						<li>
							<a href=""> Hello to {{request.session.user.username}}</a>
		</li>


	</ul>

</nav>
</div>

	<div class="continer">
	<center>
		username:{{object.username}}<br><br>
email:{{object.email}}<br><br>
phone:{{object.phone}}<br><br>


	</center>
	</div>


</body>
</html>





