
<!DOCTYPE html>
<html>
<head>
	  {% load static %}

	<title></title>
		<link rel="stylesheet" type="text/css" href="{%static 'css/s2.css'%}">


</head>
<body>

<nav>
	<ul>
		  <li class="dropdown">
						<a href="//">Shop By  Category</a>

                <div class="dropdown_list">
              {%for i in cake%}
                     <a href="/Category/{{i.id}}/">
                     {{ i.name }}</a>

{% endfor %}                </div>
            </li>



 				  <li class="dropdown">
	<a  class=""href="/cake/">ShowProdutsList</a>

<!--                 <div class="dropdown_list">
                    <a href="#">Parents</a>
                    <a href="#">GirlFriend</a>
                    <a href="#">BoyFriend</a>
                </div> -->
            </li>

		  <li >
						<a href="/logout/">Logout</a>

<!--                 <div class="dropdown_list">
                    <a href="#">Sports</a>
                    <a href="#">Technology</a>
                    <a href="#">Arts</a>
                    <a href="#">Others</a>
                </div>
 -->            </li>
				<li>
					<a class="active" href="/show/{{request.session.user.id}}">Profile</a>

		</li >
		+				<li>
							<a href=""> Hello  {{request.session.user.username}}</a>
		</li>


	</ul>

</nav>
</div>

	<div class="container">
		<center>
	<table class="table">
		<thead style="padding: 10px;">
			<th>item</th>
			<th>price</th>


		</thead>
<tbody  >
	{%for item in cart.cake.all%}
	<tr>
		<td>{{item}}</td>
		
  <td>{{item.price}}</td>
    <td><a class="active" href="/addcart/{{item.id}}">remove</a></td>


	</tr>
{%endfor%}


</tbody>
<tfoot>
	<tr>
		<td>TOTAL</td>
		<td>{{cart.total}}</td>
	</tr>
</tfoot>
					</table>
				</center>
</div>
<div style="text-align: center;">
	<a  class="active"href="/cake/">ShowProdutsList</a>
<!-- 	<a  class="active"href="/create/">order</a>
 -->
	</div>

	    <section>
        <footer class="main-footer" ">
        <h2><b>All Rights Reserved :  PavanKalevaru</b></h2>
    </footer>
</section>

</body>
</html>






